@using CodingCraftHOMod1Ex1EF.ViewModels
@model CondominioVM


    @using (Html.BeginForm("Index", "Condominios", FormMethod.Get))
    {

        <fieldset class="form-control">
            <div class="row">
                <div style="margin:5px;">
                    @Html.LabelFor(model => model.CidadeId, "CidadeId", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("CidadeId", null, " ", htmlAttributes: new { @class = "form-control " })
                </div>
                <div style="margin:5px;">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin:5px;">
                    @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin:5px;">
                    @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div style="margin:5px;">

                    <input type="submit" value="Filtrar" class="btn btn-default" />

                </div>
        </fieldset>
    }