@using CodingCraftHOMod1Ex1EF.Models
@using CodingCraftHOMod1Ex1EF.ViewModels
@using Microsoft.Ajax.Utilities
@model CondominioVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@Html.Partial("_Filtros", Model)


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            Cidade
        </th>
        <th>
            Nome
        </th>
        <th>
            Descrição
        </th>
        <th>
            Razão Social
        </th>
        <th>
            Cnpj
        </th>
        <th>
            Telefones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Result)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CondominioTelefones
                                              //  .Aggregate("",(s, telefone) => $"{s}, {telefone.ToString()}") 
                )
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CondominioId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CondominioId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CondominioId })
        </td>
    </tr>
    }

</table>
