@model CodingCraftHOMod1Ex1EF.Models.CondominioTelefone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CondominioTelefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condominio.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condominio.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ddd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ddd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CondominioTelefoneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
