@model IEnumerable<CodingCraftHOMod1Ex1EF.Models.CondominioTelefone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condominio.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ddd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioModificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCriacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condominio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ddd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimaModificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioModificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCriacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CondominioTelefoneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CondominioTelefoneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CondominioTelefoneId })
        </td>
    </tr>
}

</table>
